---
import "../styles/global.css"
import Box from "../components/box.astro";
import Ticker from "../components/ticker.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hack TKS</title>
</head>
<body>
	<Box>
		<h1 class="fancy-header">HACKTKS</h1>
		<Ticker/>
	</Box>
</body>
</html>