---
---

<style>
    .box {
        border-radius: 69px;
        background: var(--box-color, #232320);
        padding: 4rem;
        display: inline;
    }
</style>
<div class="box">
    <slot />
</div>
